<%- include('./layouts/header.ejs') %>

<div id="app" class="bg-gray-100 py-4">
    <div class="container m-auto">
        <div id="slider"  class=" overflow-hidden rounded-lg">
            <div class="flex transition-transform ease-in-out duration-300 transform translate-x-0">
              <div class="w-full flex-shrink-0">
                <img src="https://www.khaitam.com//Data/Sites/1/Banner/c%C4%83qda.jpg" alt="Slide 1" class="w-full object-cover">
              </div>
              <div class="w-full flex-shrink-0">
                <img src="https://www.khaitam.com/Data/Sites/1/Banner/thanhdieu.png" alt="Slide 2" class="w-full object-cover">
              </div>
              <div class="w-full flex-shrink-0">
                <img src="https://www.khaitam.com/Data/Sites/1/Banner/264965675_1648568741980377_1402130664518782556_n.jpg" alt="Slide 3" class="w-full object-cover h-[455px]">
              </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container m-auto my-4">
            <div class="bg-white rounded-md">
                <h2 class="px-6 py-4 border-b uppercase text-lg font-semibold">Danh mục sản phẩm</h2>
                <div class=" px-6 py-4 flex gap-10">
                  <% for(let cate of listCategory){ %>
                    <a href="/product?idCategory=<%= cate.id %>">
                      <div class=" flex flex-col gap-4 w-[90px]">
                        <img class="w-full shrink-0" src="/uploads/<%= cate.thumb %>" alt="">
                        <p class="whitespace-normal break-words text-center"><%= cate.name_category %></p>
                      </div>
                    </a>
                  <%}%>
                </div>
            </div>
        </div>
    </section>

    <section>
      <div class="container m-auto my-4">
        <div class="bg-white rounded-md">
          <h2 class="px-6 py-4 border-b rounded-t-md uppercase text-lg font-semibold bg-gradient-to-r from-green-500 to-green-400 text-white">XU HƯỚNG </h2>
          <div class=" grid grid-cols-6 gap-2 px-6 py-4">
            <% for(let p of listProduct){ %>
              <a href="/product/<%= p.isbn %>" class=" hover:shadow-xl px-4 py-2" >
                <div class=" flex flex-col gap-2  h-full">
                  <div class="w-2/3 m-auto flex-1">
                    <img class="w-full" src="/uploads/<%= p.thumb %>" alt="">
                  </div>
                  <p class="flex-none  whitespace-normal break-words text-center"><%= p.name_product %></p>
                </div>
              </a>
            <%}%>
          </div>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/client/slide.home.js"></script>
</div>

</body>
</html>