<%- include('../aside.ejs')%>
<header>
    <div class=" bg-white py-4 px-10">
        <h2 class=" uppercase text-xl font-semibold">Category</h2>
    </div>
</header>
<main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-100 p-4">
    <!-- Your content goes here -->
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class=" py-3 px-10 bg-white">
            <div class="flex justify-between items-center pr-20">
                <h2 class="uppercase text-xl font-semibold py-6">Update category</h2>
                <a class="  border-2 border-black rounded-full w-8 h-8 flex justify-center items-center font-bold text-lg hover:bg-gray-100" href="/admin/category"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            </div>
            <form action="/admin/category/update" method="post"  enctype="multipart/form-data">
                <div class="flex gap-2">
                    <div class=" w-1/2 flex flex-col gap-2 py-3">
                        <label for="">Name category </label>
                        <input class=" border px-4 py-2 rounded" type="text" name="name_category"  value="<%= category.name_category %>">
                    </div>
                </div>
                <div class="flex flex-col gap-2 py-3">
                    <label for="">Image</label>
                    <input type="file" name="thumb" id="">
                </div>
                <img class="w-[150px]" id="showImg" src="/uploads/<%= category.thumb %>" alt="">
                <div class=" py-6">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <input type="hidden" name="thumb_old" value="<%= category.thumb %>">
                    <input type="submit" value="Update" class=" px-6 py-2 border rounded-md bg-blue-500 text-white font-semibold cursor-pointer hover:bg-blue-400">
                </div>
            </form>
        </div>
    </div>
</main>
</div>
</div>
<script>
    $(document).on('change','input[name="thumb"]',function(e){
        const fileReader = new FileReader()
        fileReader.readAsDataURL(e.target.files[0])
        
        fileReader.onload = function() {
          const url = fileReader.result
          $('#showImg').attr('src',url)
        }
    })
    </script>
</body>
</html>
